body
{
    font-family: sans-serif;
}
div.navbar
{
    background-color: #2c3e50;
    padding-block: 20px;
}
div.navbar div.links a
{
    margin-inline: 20px !important;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* footer */
div.footer
{
    background-color: #2c3e50;
    padding-block: 90px;

}

div.footer div.icon div
{
    margin-inline: 5px;
    border: white solid 1px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
div.foot
{
    background-color: #1a252f;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* portfolio */
div.portfolio
{
    padding-top: 150px;
}
div.portfolio h1
{
    font-weight: bold;
    color:#2c3e50;
    text-align: center;
}
div.portfolio div.img div.leyar
{
    background-color: #1abc9c;
    opacity: 0;
    transition: all 500ms;
}
div.portfolio div.img div.leyar:hover
{
    opacity: 0.9;
}
div.portfolio div.img div.leyar i
{
    font-size: 200px;
}
div.line {
    width: 80px;      
    height: 4px;      
    background-color: #2c3e50; 
}

.bi-star-fill {
    color: #2c3e50;
    font-size: 20px;
}

/* about */
div.about
{
    background-color: #1abc9c;
    padding-block: 200px;
  
}
div.about div.line {
    width: 80px;      
    height: 4px;      
    background-color: white !important; 
}

div.about div.bi-star-fill {
    color: white !important ;
    font-size: 20px;
}
/* contact */
div.contact
{
    padding-block:130px;
}
div.contact h1
{
    font-weight: bold;
    color: #2c3e50;
}
div.contact .form-control:focus
{
    box-shadow: none !important;
}
div.contact .form-control
{
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.348) !important;
    
}
div.contact button 
{
    background-color: #1abc9c;
    padding: 10px;
    border-radius: 8px;
}
div.contact div.line-contact
{
    width: 80px;
    height: 4px;
    background-color: #2c3e50;
    transform: translateY(200%);
}
div.contact i.star-contact
{
    color: #2c3e50 !important;
}
/* home */
div.home
{
    background-color: #1abc9c;
    padding-block: 200px;
}
div.home img 
{
    width: 17%;
    padding-bottom: 30px;
}
div.home div.line {
    width: 80px;      
    height: 4px;      
    background-color: white !important; 
    transform: translateY(200%);
}

div.home div.bi-star-fill {
    color: white !important ;
    font-size: 20px;
}



.active
{
    background-color: #1abc9c;
    padding: 10px;
    border-radius: 5px;
}


